.shadow {
  box-shadow: inset 0 -1px 0 0 var(--theme-primary);
}

/* 签名 */
.animated-signature path {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
  fill: transparent;
  animation: drawSignature 8s linear infinite both;
  stroke-width: 2px;
  stroke: black;
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 2400;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: black;
  }

  90%,
  to {
    stroke-dashoffset: 2400;
    fill: transparent;
  }
}